<div class="container">

  <header class="header">
    <h1>🚀 Bienvenido a Demo-Facturación</h1>
    <p>Tu sistema ágil para gestión de ventas y recursos</p>
  </header>

  <main class="main">
    <h2>Accesos rápidos</h2>
    <div class="cards">
      <a routerLink="/Cliente" class="card">👥 Clientes</a>
      <a routerLink="/registrar-cliente" class="card">💼 Empleados</a>
      <a routerLink="/facturas" class="card">🧾 Facturas</a>
    </div>
  </main>

   <!-- Aquí se cargará dinámicamente el componente según la ruta -->
 <router-outlet></router-outlet>

  <footer class="footer">
    <p>&copy; 2025 Demo-Facturación. Todos los derechos reservados.</p>
    <p>Desarrollado por wgarcia</p>
  </footer>

</div>


